# Build outputs
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json

# Cache & Editor artifacts
.cache/
.clangd/
.vscode/
.idea/

# Database files & generated data
*.db
*.dat
data/*
!data/.gitkeep